<section class="mt-4">
    <div class="row g-0">

        <!-- Start: Profile Photo -->
        <div class="col-md-3 d-lg-flex justify-content-lg-center align-items-lg-center"
            style="padding-left: 0px;padding-right: 0px;">
            <div class="btn d-md-flex justify-content-md-center align-items-md-center" role="button"
                style="text-align: left;">
                <img class="img-fluid" src="assets/img/profileImage.jpg" style="border-radius: 50%; min-width: 100%;">
            </div>
        </div>
        <!-- End: Profile Photo -->

        <!-- Start: User Info -->
        <div class="col-md-9" style="padding-top: 7px;padding-bottom: 7px;padding-left: 8px;padding-right: 0px;">
            <h6>joseatrejos</h6>

            <span style="color: rgb(96,98,99);font-size: 14px;">Jose Alberto Trejo Serrano</span>

            <a class="btn btn-outline-secondary float-end" role="button">Edit Profile</a>

            <!-- Start: Number of posts -->
            <div class="w-100 text-center" style="margin-top: 35px;">
                <p>
                    <strong>1</strong> Post
                </p>
            </div>
            <!-- End: Number of posts -->

        </div>
        <!-- End: User Info -->
    </div>

    <hr>
</section>
