<!-- Start: Right Side -->
    <div class="card-group" style="margin-top: 16px;">
        <div class="card">
            <div class="card-body">

                <!-- User Info -->
                <div class="row">

                    <!-- Profile Image -->
                    <div class="col-md-3 d-lg-flex justify-content-lg-center align-items-lg-center"
                        style="padding-left: 0px;padding-right: 0px;">
                        <a class="btn" role="button" href="index.html"
                            style="text-align: left;min-width: 100%;padding-right: 4px;">
                            <img class="img-fluid" src="assets/img/profileImage.jpg"
                                style="border-radius: 50%;min-width: 100%;">
                        </a>
                    </div>

                    <!-- Username and photo -->
                    <div class="col-md-7"
                        style="padding-top: 7px;padding-bottom: 7px;padding-left: 8px;padding-right: 0px;">
                        <h6>joseatrejos</h6>

                        <span style="color: rgb(96,98,99);font-size: 14px;">Jose Alberto Trejo
                            Serrano</span>
                    </div>
                </div>

                <!-- Suggestions and "footer" -->
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: rgb(141,141,142);margin-top: 16px;">Suggestions for you</p>
                    </div>

                    <div class="col-md-3 d-lg-flex justify-content-lg-center align-items-lg-center"
                        style="padding-left: 0px;padding-right: 0px;">
                        <a class="btn" role="button" href="index.html"
                            style="text-align: left;min-width: 100%;padding-right: 4px;">
                            <img class="img-fluid" src="assets/img/Ivan.png"
                                style="border-radius: 50%;min-width: 100%;">
                        </a>
                    </div>

                    <div class="col-md-6 my-lg-auto" style="padding-top: 7px;padding-bottom: 7px;">
                        <h6 style="margin-bottom: 2px;">ivan</h6>

                        <span style="color: rgb(96,98,99);font-size: 14px;">Ivan Rangel</span>
                    </div>

                    <div class="col-md-3 d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                        style="padding-top: 7px;padding-bottom: 7px;">
                        <a class="anone" href="#" style="color: #1A0DAB;font-size: 14px;">Follow</a>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4" style="padding-top: 7px;font-size: 10px;">
                        <p>
                            <a href="#"
                                style="color: rgb(141,141,142); text-decoration:none;">Information</a>
                        </p>
                    </div>

                    <div class="col-md-4" style="padding-top: 7px;font-size: 10px;">
                        <p>
                            <a href="#" style="color: rgb(141,141,142); text-decoration:none;">Terms
                                &amp; Conditions</a>
                        </p>
                    </div>

                    <div class="col-md-4" style="padding-top: 7px;font-size: 10px;">
                        <p>
                            <a href="#"
                                style="color: rgb(141,141,142); text-decoration:none;">Language</a>
                        </p>
                    </div>
                </div>

                <p class="mb-4" style="color: rgb(141,141,142);font-size: 10px;">
                    © 2021 Instagram from Facebook
                </p>
            </div>
        </div>
    </div>
<!-- End: Right Side -->