<app-navbar></app-navbar>

<div class="container">
    <section>
        <div class="row" style="margin-bottom: 8px;" data-aos="fade" data-aos-duration="750" data-aos-once="true">
        
            <div class="col-md-12 col-lg-8 col-xxl-8 mt-3" style="margin-top: 0px;">
                <app-posts></app-posts>
            </div>
            
            <div class="col-md-4 col-xxl-4 d-none d-sm-none d-md-none d-lg-flex order-md-last mt-3 position-sticky">
                <app-user-info></app-user-info>
            </div>
  
        </div>
    </section>
</div>